@import "../base/variables/all";

.timer {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    text-align:center;

    &__wrapper {
        color:map-get($colors, gray);
        font-size:map-get($font-sizes, xlarge);
    }

    &__controls {
        display:flex;
        justify-content:center;
    }

    &__btn {
        width:120px;
        height:120px;
        margin:0 10px;

        color:map-get($colors, gray);
        font-size:map-get($font-sizes, medium);

        border-color:map-get($colors, gray);
        border-radius:50%;

        transition:color 0.25s ease-out, background-color 0.25s ease-out;

        &:not(:disabled):hover {
            color:map-get($colors, white);

            background-color:map-get($colors, gray);
        }

        &:disabled {
            color:map-get($colors, gray-light);

            border-color:map-get($colors, gray-light);
        }

        &-text {
            display:block;
        }

        &-icon {
            width:60px;
            height:60px;

            line-height:60px;

            font-size:map-get($font-sizes, large);
        }
    }
}
